<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx    http://www.springframework.org/schema/tx/spring-tx.xsd
       "
    default-autowire="byName">
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	<bean id="dataSourceWms" class="com.xjh.support.datasource.WmsDataSource"></bean>

	<bean id="transactionManagerWms" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceWms" />
	</bean>

	<bean id="sqlSessionFactoryWms" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceWms" />
		<property name="mapperLocations" value="classpath:dal/sqlmap/*.xml" />
		<property name="configLocation" value="classpath:dal/mappers.xml" />
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<value>dialect=mysql</value>
					</property>
				</bean>
			</array>
		</property>
	</bean>
	<bean id="sqlSessionWms" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactoryWms" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="processPropertyPlaceHolders" value="true"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryWms"></property>
		<property name="basePackage" value="com.xjh.dao.mapper" />
	</bean>
	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="processPropertyPlaceHolders" value="true"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryWms"></property>
		<property name="basePackage" value="com.xjh.dao.tkmapper" />
		<property name="properties">
			<value>mappers=tk.mybatis.mapper.common.Mapper</value>
		</property>
	</bean>
</beans>