<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsInventoryApplyDetailMapper">
	<sql id="where_sql">
		<where>
			<if test="applyNum != null and applyNum != ''">
				and apply_num = #{applyNum}
			</if>
			<if test="searchKey!=null and searchKey!=''">
				and material_name like "%"#{searchKey}"%"
			</if>
			<if test="materialCode != null and materialCode != ''">
				and material_code = #{materialCode}
			</if>
			<if test="cabinCode != null and cabinCode != ''">
				and cabin_code = #{cabinCode}
			</if>
			<if test="applyType != null and applyType != ''">
				and apply_type = #{applyType}
			</if>
			<if test="fromCabinCode != null and fromCabinCode != ''">
				and from_cabin_code = #{fromCabinCode}
			</if>
			<if test="supplierCode != null and supplierCode != ''">
				and supplier_code = #{supplierCode}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="paidStatus != null and paidStatus != ''">
				and paid_status = #{paidStatus}
			</if>
			<if test="startCreatedTime != null">
				and gmt_created &gt;= #{startCreatedTime}
			</if>
			<if test="endCreatedTime != null">
				and gmt_created &lt; #{endCreatedTime}
			</if>
			<if test="fromSrc != null and fromSrc != ''">
				and (supplier_name like "%"#{fromSrc}"%" or from_cabin_name like "%"#{fromSrc}"%" )
			</if>
			<if test="mycabins != null">
				and (cabin_code in 
				<foreach collection="mycabins" item="item" open="(" close=")" separator=",">#{item}</foreach>
				or from_cabin_code in 
				<foreach collection="mycabins" item="item" open="(" close=")" separator=",">#{item}</foreach>
				)
			</if>
			<if test="statusList != null">
				and status in 
				<foreach collection="statusList" item="item" open="(" close=")" separator=",">#{item}</foreach>
			</if>
			<if test="category != null and category != ''">
				and exists (
				select 1 from wms_material m 
				 where m.material_code = wms_inventory_apply_detail.material_code
				   and m.category = #{category}
				)
			</if>
			<if test="payMode != null and payMode != ''">
				and exists (select 1 from wms_supplier sp 
				   where sp.supplier_code = wms_inventory_apply_detail.supplier_code
					 and pay_mode = #{payMode}
				)
			</if>
			<if test="creatorSearch != null and creatorSearch != ''">
				and exists (select 1 from wms_user user 
					where user.user_code = wms_inventory_apply_detail.creator
					and concat(user_code,',',user_name) like "%"#{creatorSearch}"%"
					)
			</if>
			<if test="creator != null and creator != ''">
				and (creator = #{creator} or confirm_user = #{creator})
			</if>
		</where>
	</sql>
	<select id="query" resultType="com.xjh.dao.dataobject.WmsInventoryApplyDetailDO">
		select * from wms_inventory_apply_detail
		<include refid="where_sql"></include>
		order by status asc,id desc limit #{start},#{pageSize}
	</select>
	<select id="count" resultType="int">
		select count(*) from wms_inventory_apply_detail
		<include refid="where_sql"></include>
	</select>
	
	<select id="statistics" parameterType="com.xjh.service.vo.InventoryReportVo" 
		resultType="com.xjh.service.vo.InventoryReportVo">
	select 
	material_code,material_name,
	cabin_code,cabin_name,stock_unit,
	<if test="groupBySupplier != null ">
	  supplier_code,supplier_name, 
	</if>
	sum(real_stock_amt) inventory_amt, sum(total_price) total_price,sum(paid_amt) total_paid_amt
	from wms_inventory_apply_detail
	<where>
		<if test="startCreatedDate != null">
			and gmt_created &gt;= #{startCreatedDate}
		</if>
		<if test="endCreatedDate != null">
			and gmt_created &lt; #{endCreatedDate}
		</if>
		<if test="applyType != null and applyType != ''">
			and apply_type = #{applyType}
		</if>
		<if test="materialCode != null and materialCode != ''">
			and material_code = #{materialCode}
		</if>
		<if test="cabinCode!=null and cabinCode != ''">
			and cabin_code = #{cabinCode}
		</if>
		<if test="supplierCode != null and supplierCode != ''">
			and supplier_code = #{supplierCode}
		</if>
		<if test="searchKey != null and searchKey != ''">
			and material_name like "%"#{searchKey}"%"
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
	</where>
	group by material_code,material_name,cabin_code,cabin_name,stock_unit
	<if test="groupBySupplier != null ">
	  ,supplier_code,supplier_name
	</if>
	</select>
</mapper>