<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialSupplierMapper">
	<sql id="where_sql">
		<where>
			<if test="materialName!=null and materialName!=''">
				and wms_material_supplier.material_name like "%"#{materialName}"%"
			</if>
			<if test="materialCode != null and materialCode != ''">
				and wms_material_supplier.material_code = #{materialCode}
			</if>
			<if test="id!=null">
				and wms_material_supplier.id = #{id}
			</if>
			<if test="isDeleted != null and isDeleted != ''">
				and wms_material_supplier.is_deleted = #{isDeleted}
			</if>
		</where>
	</sql>
	<select id="query" resultType="com.xjh.dao.dataobject.WmsMaterialSupplierDO">
		select wms_material_supplier.*,wms_supplier.supply_cabins from wms_material_supplier
		join wms_supplier on wms_supplier.supplier_code = wms_material_supplier.supplier_code and wms_supplier.status = '1'
		<include refid="where_sql"></include>
		order by wms_material_supplier.material_name,id limit #{start},#{pageSize}
	</select>
	<select id="count" resultType="int">
		select count(*) from wms_material_supplier
		join wms_supplier on wms_supplier.supplier_code = wms_material_supplier.supplier_code and wms_supplier.status = '1'
		<include refid="where_sql"></include>
	</select>
</mapper>