<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialStockMapper">
	<update id="changeByDelta">
		update wms_material_stock
		set curr_stock = curr_stock + #{stockChgAmt},
		gmt_modified = now()
		<if test="operator!=null and operator!=''">
			,modifier = #{operator}
		</if>
		where material_code = #{materialCode}
		and cabin_code in (#{cabinCode})
	</update>

	<update id="startCorrect">
		update wms_material_stock
		   set status = '2',
		       gmt_modified = now(),
		       check_stock_time = now(),
		       check_operator=#{modifier}
		 where cabin_code = #{cabinCode}
		   and status = '1'
	</update>
	
	<update id="finishCorrect">
		update wms_material_stock
		   set status = '1',
		       gmt_modified = now()
		 where cabin_code = #{cabinCode}
		   and status = '3'
	</update>
	
	<select id="selectWaiting" resultType="com.xjh.dao.dataobject.WmsMaterialStockDO">
		select * from wms_material_stock
		where cabin_code = #{cabinCode}
		  and status = '2'
	</select>
</mapper>