<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialMapper">
	<select id="query" resultType="com.xjh.dao.dataobject.WmsMaterialDO">
		select * from wms_material
		<where>
			<if test="searchKey!=null and searchKey!=''">
				and concat(material_name,',',search_key) like "%"#{searchKey}"%"
			</if>
		</where>
		order by id limit #{start},#{pageSize}
	</select>
	<select id="count" resultType="int">
		select count(*) from wms_material
		<where>
			<if test="searchKey!=null and searchKey!=''">
				and concat(material_name,',',search_key) like "%"#{searchKey}"%"
			</if>
		</where>
	</select>
</mapper>