<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialStockMapper">
	<update id="useStock">
		update wms_material_stock
		set curr_stock = curr_stock - #{stockChgAmt},
		used_stock = used_stock + #{stockChgAmt}
		<if test="operator!=null and operator!=''">
			,modifier = #{operator}
		</if>
		where material_code = #{materialCode}
		and cabin_code in ( #{cabinCode},'ZK0000')
	</update>

	<update id="increaseStock">
		update wms_material_stock
		set curr_stock = curr_stock + #{stockChgAmt}
		<if test="operator!=null and operator!=''">
			,modifier = #{operator}
		</if>
		where material_code = #{materialCode}
		and cabin_code in (#{cabinCode},'ZK0000')
	</update>

	<update id="changeByDelta">
		update wms_material_stock
		set curr_stock = curr_stock + #{stockChgAmt}
		<if test="operator!=null and operator!=''">
			,modifier = #{operator}
		</if>
		where material_code = #{materialCode}
		and cabin_code in (#{cabinCode})
	</update>
	
</mapper>