<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialMapper">
	<sql id="where_sql">
		<where>
			<if test="searchKey!=null and searchKey!=''">
				and concat(material_name,',',search_key) like "%"#{searchKey}"%"
			</if>
			<if test="materialCode != null and materialCode != ''">
				and material_code = #{materialCode}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="category != null and category != ''">
				and category = #{category}
			</if>
		</where>
	</sql>
	<select id="query" resultType="com.xjh.dao.dataobject.WmsMaterialDO">
		select * from wms_material
		<include refid="where_sql"></include>
		order by material_name,id limit #{start},#{pageSize}
	</select>
	<select id="count" resultType="int">
		select count(*) from wms_material
		<include refid="where_sql"></include>
	</select>
</mapper>