<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialStockDailyMapper">
	<update id="addConsumeAmt">
		update wms_material_stock_daily
		set gmt_modified = now()
		<if test="consumeAmt != null">
		 	,consume_amt = consume_amt + #{consumeAmt}
		</if>
		<if test="lossAmt != null">
			,loss_amt = loss_amt + #{lossAmt}
		</if>
		where material_code = #{materialCode}
		and cabin_code in (#{cabinCode})
		and stat_date = #{statDate}
	</update>

	
</mapper>