<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsMaterialStockHistoryMapper">
	
	<select id="getStartId" resultType="long">
		select id from wms_material_stock_history
		where status = '0' 
		order by id asc limit 1
	</select>

	<select id="selectOneToDeal" resultType="com.xjh.dao.dataobject.WmsMaterialStockHistoryDO">
		select * from wms_material_stock_history
		where status = '0' 
		order by id asc limit 1
	</select>
	
	<select id="selectListToDeal" resultType="com.xjh.dao.dataobject.WmsMaterialStockHistoryDO">
		select * from wms_material_stock_history
		where status = '0' 
		order by id asc limit 100
	</select>
</mapper>