<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsOrdersMapper">
	<sql id="where_sql">
		<where>
			exists (select 1 from wms_recipes recipes
			         where recipes.is_deleted = 'N' 
			         and recipes.recipes_code = wms_orders.recipes_code)
			<if test="searchKey!=null and searchKey!=''">
				and search_key like "%"#{searchKey}"%"
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="storeCode != null and storeCode != ''">
				and store_code = #{storeCode}
			</if>
			<if test="recipesCode!=null and recipesCode!=''">
				and recipes_code = #{recipesCode}
			</if>
			<if test="isDeleted != null and isDeleted != ''">
				and is_deleted = #{isDeleted}
			</if>
			<if test="saleDateStart != null">
				and sale_date &gt;= #{saleDateStart}
			</if>
			<if test="saleDateEnd != null">
				and sale_date &lt;= #{saleDateEnd}
			</if>
			<if test="mystores != null">
				and store_code in 
				<foreach collection="mystores" item="item" open="(" close=")" separator=",">#{item}</foreach>
			</if>
		</where>
	</sql>
	<select id="query" resultType="com.xjh.dao.dataobject.WmsOrdersDO">
		select * from wms_orders
		<include refid="where_sql"></include>
		order by sale_date desc,sale_num desc, id desc limit #{start},#{pageSize}
	</select>
	<select id="count" resultType="int">
		select count(*) from wms_orders
		<include refid="where_sql"></include>
	</select>
</mapper>