<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsSessionMapper">
	<select id="selectByExample" resultType="com.xjh.dao.dataobject.WmsSessionDO">
		select * from wms_session
	</select>
	<select id="isValidSession" resultType="boolean">
		select count(*) from wms_session
		where session_id = #{sessionId}
		and expired_time &gt; now()
	</select>
	
	<insert id="createSession">
		insert into wms_session(session_id,expired_time)
		values(#{sessionId},#{expiredTime})
	</insert>
</mapper>