<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjh.dao.mapper.WmsUserMapper">
	<select id="selectByExample" resultType="com.xjh.dao.dataobject.WmsUserDO">
		select * from wms_user
	</select>
	<select id="selectByUserCode" resultType="com.xjh.dao.dataobject.WmsUserDO">
		select * from wms_user
		where user_code = #{userCode}
	</select>
	
	<insert id="createUser">
		insert into wms_user(user_code,user_name,user_mobile,store_code,user_role,password)
		values(#{userCode},#{usrName},#{userMobile},#{storeCode},#{userRole},#{password})
	</insert>
	
	<update id="updateByUserCode">
		update wms_user set
		<if test="userName != null">
			user_name = #{userName},
		</if>
		<if test="userMobile!=null">
			user_mobile = #{userMobile},
		</if>
		<if test="storeCode!=null">
			store_code = #{storeCode},
		</if>
		<if test="userRole!=null">
			user_role = #{userRole}
		</if>
		<if test="password!=null">
			password = #{password}
		</if>
		where user_code = #{userCode}
	</update>
</mapper>